.interest-section {
    padding: 40px 50px;
    background-color: rgba(0, 0, 0, 0.29);
    max-height: 550px;
    width: 100%;
    overflow-y: auto;
    border-left: 2px solid white;
}

.interest-title {
    font-size: 2rem;
    color: var(--cyber-blue);
    text-shadow: 0 0 10px var(--cyber-blue);
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.interest-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 2px;
    background-color: var(--cyber-pink);
    box-shadow: 0 0 5px var(--cyber-pink);
}

.interest-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px 0;
}

.interest-item {
    background-color: #fff;
    color: #081324;
    padding: 12px 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
}

.interest-item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px var(--cyber-pink);
}

@media only screen and (max-width: 768px) {
  .interest-section {
    padding: 30px 20px;
    max-height: 550px;
    top: -20px;
    border-left: none;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
  }

  .interest-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .interest-title::after {
    width: 80px;
  }

  .interest-grid {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 15px;
    padding: 15px 0;
  }

  .interest-item {
    padding: 10px 15px;
    font-size: 0.9rem;
  }

  .interest-item:hover {
    transform: scale(1.03);
  }
}
