.navbar {
  position: sticky;
  z-index: 1000;
  top: 0;
  height: 70px;
  padding-top: 25px;
  background-color: transparent;
  transition: background-color 0.3s ease;
  /* background-color: rgba(0, 0, 0, 0.29); */
}

.navbar.scrolled {
  padding-top: 0;
  transition: 0.5s all ease-in-out;
  background-color: var(--primary);
}

.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
}

.navbar li {
  margin-right: 30px;
}

.navbar li,
nav-item {
  cursor: pointer;
  color: white;
  background: rgba(8, 34, 53, 0.674);
  padding: 15px 20px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  display: inline-block;
}

.navbar button {
  background: none;
  border: none;
  color: white;
}

.navbar li:hover {
  background: rgba(255, 255, 255, 0.1);
  transform: scale(1.1);
  border-radius: 12px;
  box-shadow: 0 5px 15px var(--bs-cyber-blue);
}

.navbar li:hover button {
  color: var(--cyber-blue);
}