.skills-section {
    display: flex;
    gap: 25px;
    margin: 125px 25px 75px 25px;
    padding: 50px 25px;
    background-color: var(--glass-primary);
    color: #fff;
    text-align: center;
    font-family: 'Courier', sans-serif;
}

.skills-title {
    font-weight: 500;
    color: #ffffff;
    text-shadow: 0 0 10px #ffffff;
    margin-bottom: 25px;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.skill-badge {
    background: var(--cyber-purple);
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 30px;
    /* box-shadow: 0 0 10px #ffffff; */
    transition: transform 0.2s ease;
    cursor: default;
}

.languages-title {
    font-weight: 500;
    color: #ffffff;
    text-shadow: 0 0 10px #ffffff;
    margin-bottom: 25px;
}

.languages-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.languages-badge {
    background: var(--cyber-green);
    color: var(--primary);
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 30px;
    /* box-shadow: 0 0 10px #ffffff; */
    transition: transform 0.2s ease;
    cursor: default;
}

.skill-badge:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px var(--cyber-mint);
}

@media only screen and (max-width: 768px) {
    .skills-section {
        display: flex;
        flex-direction: column;
        margin: 100px 15px 40px 15px;
        padding: 50px 15px;
        gap: 15px;
    }

    .skills-title,
    .languages-title {
        font-size: 1.3rem;
        margin-bottom: 15px;
    }

    .skills-container,
    .languages-container {
        gap: 10px;
    }

    .skill-badge,
    .languages-badge {
        padding: 8px 16px;
        font-size: 0.9rem;
    }

    .skill-badge:hover {
        transform: scale(1.05);
    }
}
